@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0px 2px 4px #333;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 2px #333;
  font-size: 2rem;
}

.azul {
  color: #032e7d;
}

.azuloscuro {
  color: #0552a3;
}

.boton {
  color: #9db5cf;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #0552a3;
}
.boton:hover {
  background-color: #0552a3;
  color: #ffffff;
  cursor: pointer;
}

nav li {
  list-style: none;
  display: inline-block;
}
nav li a {
  text-decoration: none;
  color: #032e7d;
  margin: 10px;
  font-size: 1.5rem;
}
nav ul li a:hover {
  color: #0552a3;
}

.Banner {
  background-image: url(../Multimedia/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(150vh - 350px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.BannerContenido {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h2 {
  color: #0552a3;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.Banner rivolta {
  color: #000000;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -330px;
  margin-bottom: 350px;
}

div {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #032e7d;
}

main {
  margin: 20px;
  padding: 20px;
  color: #032e7d;
  text-transform: uppercase;
  font-size: 14px;
}
main h3 {
  color: #0552a3;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.Seguros {
  text-align: center;
  margin: 10vh;
}
.Seguros h3 {
  color: #0552a3;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
.Seguros p {
  font-size: 4rem;
  color: #333;
  padding: 10px;
}

li {
  font-size: 4rem;
  color: #333;
  padding: 10px;
}

.ContenedorSeguros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Seguro {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 20px;
  box-shadow: 0px 2px 4px #0552a3;
  margin: 10px;
}
.tarjeta img {
  max-width: 200%;
}
.tarjeta p {
  margin: 10px 0;
}
.tarjeta button:hover {
  background-color: #0552a3;
}

.textoSeguro,
li {
  text-align: center;
  font-size: medium;
}

main.Seguro {
  display: flex;
  justify-content: space-evenly;
}

.imgSeguros {
  width: 20%;
  height: auto;
  padding: 30%;
}

.contenedortestimonio {
  display: flex;
  margin: 10vh;
}

p {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #ffffff;
  padding: 20px 0;
}

.footerContenido {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.infoContacto p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.redesSociales a {
  margin: 5px 0;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 10px;
  font-size: 60px;
  justify-content: right;
  transition: all ease 500ms;
}

.contacto {
  color: #ffffff;
}

.facebook {
  color: #032e7d;
}

.instagram {
  color: #c80ec8;
}

.whatssap {
  color: #087d08;
}

.footer i {
  margin-right: 10px;
}

iframe {
  display: block;
  margin: auto;
}

form {
  margin: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0552a3;
}

input [type=text],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.btnFormulario {
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

/*responsive: */
/*vista tablet*/
/*768px hasta 1023px*/
@media (max-width: 1023px) {
  header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  header .boton {
    display: none;
  }
  main {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .BannerContenido p,
  h2 {
    font-size: 1.5rem;
  }
  .Seguros {
    margin: 5vh;
    font-size: 2rem;
  }
  .Seguros h3,
  .Seguros p {
    font-size: unset;
  }
  .ContenedorSeguros {
    grid-template-columns: 1fr;
  }
  .contenedortestimonio {
    flex-direction: column;
  }
  .footerContenido {
    flex-direction: column;
    text-align: center;
  }
}
/*ajuste para la vista celular*/
@media (max-width: 768px) {
  .contenedortestimonio {
    font-size: 1rem;
    flex-direction: center;
    grid-template-columns: 3fr 3fr;
    align-items: center;
  }
  .video {
    align-items: center;
  }
}

/*# sourceMappingURL=estilo.css.map */
