 $color-azul:#032e7d;
 $color-grisoscuro: #333;
 $color-azuloscuro: #0552a3;
 $color-blanco: #ffffff;
 $color-verde: #087d08ff;
 $color-futsia: #c80ec8;
 $color-negro: #000000;
 $color-grisclaro:#9db5cf;